.search-refinement-body{
  width: 200px;
  position: relative;
  border-right: black solid 2px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  padding-right: 2rem;
  .title{
    margin-bottom: 0.25rem !important;
  }
}

.results-page-dropdowns{
  box-sizing: border-box;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;

  .language-dropdown-area{
    margin: 0.5rem;
    display: inline-block;
  }
  .framework-dropdown-area{
    margin: 0.5rem;
    display: inline;
    box-sizing: inherit;
  }
  .language-framework-label{
    margin: 2rem;
    display: inline-block;
    color: #575756;
    opacity: 70%;
    font-size: 26px;
  }
}
