.results-container {
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: 1rem auto 1rem 1rem;
}

.results-content{
  padding-left: 1rem;
  display: inline;
  box-sizing: inherit;
}

.results {
  margin: 1rem auto 0;
  padding: 1rem;
  border: 2px solid black;
  box-sizing: inherit;
  display: flex;
}

.tags{
  margin-top: 1rem;
  display: flex;
}

.inner-results-tags {
  padding-top: 15px;
  display: flex;
  align-items: flex-end;
}

.inner-tags{
  padding: 8px;
  color: #39739d;
  opacity: 90%;
  background-color: #e1ecf4;
  margin: 4px;
  border-radius: 10%;
  border-color: transparent;
}

.hyperlink-for-question{
  font-size: 24px;
  color: #0074CC;
  line-height: 1.3;
  margin-bottom: 1.2em;
  font-weight:normal;
  text-decoration: none;
}

.search-results-body{
  display: block;
}

.search-results-buttons{
  box-sizing: inherit;
  margin: 1rem;
  text-align: right;
}

.filter-button{
  margin: 0.2rem;
}

.icons{
  width: 30px;
  justify-content: center;
  align-items: center;
}

.bi-star:hover, .fa-star:hover{
  cursor: pointer;
}

.favourite{
  margin-bottom: 1px;
}

.checked{
  color: orange;
  padding-bottom: 8px;
}