.results-container {
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: 1rem auto 1rem 1rem;
}

.results-content{
  padding-left: 3rem;
  display: inline;
  box-sizing: inherit;
}

.results {
  margin: 1rem auto 0;
  padding: 1rem 1rem 1rem 0.5rem;
  border: 2px solid black;
  box-sizing: inherit;
  display: flex;
  position: relative;
}

.tags{
  margin-top: 1rem;
  display: flex;
}

.inner-results-tags {
  padding-top: 15px;
  display: flex;
  align-items: flex-end;
}

.inner-tags{
  padding: 8px;
  color: #39739d;
  opacity: 90%;
  background-color: #e1ecf4;
  margin: 4px;
  border-radius: 10%;
  border-color: transparent;
}

.hyperlink-for-question{
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 1.2em;
  font-weight:bold;
}

.search-results-body{
  display: block;
}

.search-results-buttons{
  box-sizing: inherit;
  margin: 1rem;
  text-align: right;
}

.filter-button{
  margin: 0.2rem;
}

.icons-and-score{
  width: 40px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  margin-right: 1rem;

  .forum-post-rating{
    font-weight: bold;
    font-size: 18px;
  }
}

.bi-star:hover, .fa-star:hover{
  cursor: pointer;
}

.favourite{
  margin-bottom: 1px;
}

.checked{
  color: orange;
  padding-bottom: 8px;
}