= react_component "Results/Documentation/ResultsDocumentationIndex",
  searchkeywords: @searchkeywords,
  framework: @framework,
  language: @language,
  user: @user,
  searchparameter: @searchparameter
