.profile-section{
  margin: 2rem;
  min-height: 30%;
  border: #2E2F30 2px solid;
}

.favourites-section{
  box-sizing: border-box;
  display: grid;
  margin: 2rem;
  min-height: 30%;
  border: #2E2F30 2px solid;
}

.search-history-section{
  box-sizing: border-box;
  display: grid;
  margin: 2rem;
  min-height: 30%;
  border: #2E2F30 2px solid;
}