// Search button on search bar

.search-button{
  position: absolute;
  padding: 9px 16px;
  background-color: transparent;
  color: #575756;

  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-right: 1px solid #575756;
  border-top: 1px solid #575756;
  border-bottom: 1px solid #575756;
  border-left: transparent;
}

// Search page button toggle area

//.search-page-toggle-search-button{
//  padding-top: 3rem;
//  margin: 3rem;
//  box-sizing: border-box;
//  position: relative;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.toggle-button input{
//  display: none;
//}
//.toggle-button{
//  position: relative;
//  display: inline-block;
//  width: 90px;
//  height: 30px;
//}
//.slider{
//  background-color: grey;
//  opacity: 20%;
//  border: 1px solid #aaa;
//  border-radius: 45px;
//  cursor: pointer;
//  transition: all 0.4s;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}
//.slider:before{
//  margin-left: 2px;
//  content: "";
//  width: 24px;
//  height: 24px;
//  background-color: #eee;
//  border-radius: 50%;
//  position: absolute;
//  transition: all 0.4s;
//  top: 2px;
//  left: 2px;
//}
//input:checked + .slider:before{
//  transform: translateX(54px);
//}
//input:checked + .slider{
//  background-color: #357bf6;
//  opacity: 100%;
//}
//
//.toggle-button-label{
//  margin-left: 1rem;
//}

.search-page-radio-buttons {
  padding-top: 3rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-radio {
  display: inline-flex;
  cursor: pointer;
  margin: 0 1rem;
}
.individual-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  appearance: none;
  pointer-events: none;
}
.individual-radio input:focus {
  outline: none;
}
.individual-radio input:checked {
  box-shadow: inset 0 0 0 6px #357bf6;
}
.individual-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 0.6rem;
}















// Search page dropdown area

.search-page-dropdowns{
  margin: 3rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .language-dropdown{
    margin: 2rem;
    display: inline-block;
    box-sizing: inherit;
  }
  .framework-dropdown{
    margin: 2rem;
    display: inline;
    box-sizing: inherit;
  }
  .language-framework-label{
    margin: 2rem;
    display: inline-block;
    color: #575756;
    opacity: 70%;
    font-size: 26px;
  }
}